<h3>Hi <%= @email %></h3>
<h4>Here is your secret code: <span style="color: #d2691e;"><%= @code %></span></h4>
<h5>Please use this code within 30 minutes of receiving the email. Otherwise it will expire.</h5>