// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body{
 height: 100%;
 background: #f5f5dc;
}

h2,h3{
	margin: 30px auto;
}

.cover{
	margin:auto;
	border-radius: 10px;
	padding: 30px;
	// box-shadow: 0 0 42px 5px rgba(0, 0, 0, 0.1);
	margin-top: 50px;
	border: 1px solid rgba(0,0,0,0.1);
	background: #17a2b84a;

	.label{
		padding: 0 10px;
	}
	.space-after{
		padding-bottom: 30px;
	}
}

#secret_code_field{
	margin: 20px auto;
	// display: none;
}

.lds-dual-ring {
  width: 44px;
  display: none;
  float: left;
  height: 44px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 26px;
  height: 26px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
